{%extends 'base.html'%} {%load static%} {%load crispy_forms_tags%}{%block slider_section%}

<br><br><br>
<center>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h1><strong>ÜRÜNLERE GÖZ AT</strong></h1>
                </div>
            </div>
        </div>
    </div>
</center>
<center>
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 co-sm-l2">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" ctype="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><h4>ÜRÜNLERİM</h4></button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="row">
                                    {%for urunlerim in urunler%}
                                    <div class=" col-md-4 ">
                                        <a class="read-more" href="{%url 'anasayfa'%}">{{urunlerim.name}}</a>
                                    </div>
                                    {%endfor%}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</center>
<br><br>
{%endblock%}
<!--end slider-section-->
<!--dropdown-->
{% block dropdown %} {%endblock%}
<!--end dropdown-->
<!-- brand -->
{%block brand%} {%endblock%}
<!-- end brand -->
<!-- about -->
{%block about%} {%endblock%}
<!-- end about -->
<!-- clients -->
{% block clients %} {%endblock%}
<!-- end clients -->
<!-- contact -->
{%block contact%} {%endblock%}
<!-- end contact -->
<!-- footer -->
{%block footer%} {%endblock%}
<!-- end footer -->