{%load static%}
<!-- about -->
<div class="about">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-5 col-md-5 co-sm-l2">
                <div class="about_img">
                    <figure><img src="{%static 'ev/assets/images/heralogo.jpeg'%}" alt="img" /></figure>
                </div>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-7 co-sm-l2">
                <div class="about_box">
                    <h3>HERA KÖMÜRCÜLÜK</h3>
                    <span>TAMAMEN DOĞAL VE YÜKSEK VERİMLİ KÖMÜRLERİMİZİ TÜRKİYENİN HER YERİNE KARGOLUYORUZ.</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end about -->