{%load static%}
<footer>
    <div id="contact" class="footer">
        <div class="container">
            <div class="row pdn-top-30">
                <div class="col-md-12 ">
                    <div class="footer-box">
                        <div class="headinga">
                                <h3>Adres ve Bilgilerimiz</h3>
                                <span>HERA KÖMÜRCÜLÜK İNŞAAT GIDA VE DIŞ TİCARET LİMİTED ŞİRKETİ</span>
                                <span>ADRES : FEVZİ ÇAKMAK MAHALLESİ, SADULAH SEVER KÜMESİ, KÜME EVLERİ NO:49, FOÇA-İZMİR</span>
                                <span>FOÇA MAL MÜDÜRLÜĞÜ Vergi No : 4610909752 </span>
                                <p>05532623798
                                    <br>hakankaplanlar35@gmail.com</p>
                            </div>
                        <ul class="location_icon">
                            <li> <a href="#"><i class="fa fa-facebook-f"></i></a></li>
                            <li> <a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li> <a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                        <div class="menu-bottom">
                            <ul class="link">
                                <li><a href="{%url 'anasayfa'%}">Anasayfa</a> </li>
                                <li><a href="{%url 'special'%}">Nakliye</a></li>
                                <li><a href="{%url 'brand'%}">Ürünler</a> </li>
                                <li><a href="{%url 'contact'%}">Bize Ulaşın</a></li>
                                <li><a href="{%url 'about'%}">Biz Kimiz</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <p>© 2019 All Rights Reserved. Design By<a href="https://html.design/"> Free Html Templates</a></p>
            </div>
        </div>
    </div>
</footer>